<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true" class="table table-danger table-striped table-hover table-bordered border-danger">
    <thead>
        <tr>
            <th>Color Id</th>
            <th>Color Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let color of colors">
            <td>{{ color.colorId }}</td>
            <td>{{ color.colorName }}</td>
        </tr>
    </tbody>
</table>